highway.primary{
  stroke: black;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

highway.secondary{
  stroke: orange;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

highway.tertiary{
  stroke: cyan;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

highway.living_street{
  stroke: cyan;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

highway.residential{
  stroke: gray;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

highway.service{
  stroke: red;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 2px;
}


highway.track{
  stroke: red;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 2px;
}

highway.footway{
  stroke: darkred;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 2px;
}
