
// Fonts //
@sans: 'Source Sans Pro Regular';
@sans_italic: 'Source Sans Pro Italic';
@sans_bold: 'Source Sans Pro Semibold';

// Common Colors //
@land: #fefefe;
@water: #c3e6ff;

@mainroad: 'rgb(255,250,190)';
@builings: 'rgb(210,222,222)';

@farmland: 'rgb(210,222,100)';
@wood: 'rgb(20,122,42)';
@scrub: 'rgb(60,162,82)';

@landuse_residential: 'rgb(230,230,240)';
@highway_trunk: 'rgb(255,167,100)';
.Map {
  fill-color: @land;
}




    // WATER //

    @water: #c3e6ff;

.Line {
    [zoom>=1]{

    [natural=water],[water=river],[waterway=stream],[water=weir],[water=reservoir],[water=lake],[water=pond],
    [waterway=river],[waterway=weir],[waterway=reservoir],[waterway=lake],[waterway=pond]{
      color: @water;
      line-width: 10;
      text-position: 'path';
      text-tag: 'name';
      text-size: 8;
      text-color: blue;
      text-halo-width: 0.5;
      text-halo-color: white;

  }

}
}

.Polygon{
  [zoom>=1]{
    [natural=water],[water=river],[water=stream],
    [water=weir],[water=reservoir],[water=lake],[water=pond]{
      fill-color: @water;
      color: @water;
      line-width: 10;
      text-position: 'path';
      text-tag: 'name';
      text-size: 90%;
      text-opacity: 0.5;
      text-color: blue;
      text-halo-width: 0.5;
      text-halo-color: white;
    }
  }
}



// ROADS //

.Line {
[zoom>=15]{

  [highway=service],
  [highway=living_street],
  [highway=track],
  [highway=residential],
  [highway=unclassified],
  [highway=living_street],
  [highway=primary],[highway=secondary],[highway=tertiary]{
    text-position: 'path';
    text-tag: 'name';
    text-size: 8;
    text-color: black;
    text-halo-width: 1;
    text-halo-color: white;
    //line-shadow: 1;//
    //line-shadow-color: rgb(0,0,0);//
  }

  [highway=track],[highway=cycleway],[highway=unclassified]{
    color: white;
    line-width: 3;
    contour-color: black;
    contour-width: 1;
  }

  [highway=steps]{
    color: #ddd;
    line-width: 2;
    contour-color: black;
    contour-width: 1;
  }

  [highway=path],[highway=footway],[highway=pedestrian]{
    color: #eee;
    contour-color: black;
    contour-width: 1;
  }

  [highway=path]{
    line-width: 2;
  }

  [highway=footway]{
    line-width: 2;
  }

  [highway=pedestrian]{
    line-width: 3;
  }

}

[zoom>=12]{

  [highway=service],[highway=living_street]{
    color: white;
    line-width: 6;
    contour-color: black;
    contour-width: 1;
  }


  [highway=residential]{
    color: @mainroad;
    line-width: 10;
    contour-color: black;
    contour-width: 1;
  }
}

[zoom>=10]{

  [highway=primary],[highway=secondary],[highway=tertiary],
  [highway=primary_link],[highway=secondary_link],[highway=tertiary_link]{
    color: @mainroad;
    contour-color: black;
    contour-width: 1;
  }

  [highway=tertiary],[highway=tertiary_link]{
    line-width: 12;
  }

  [highway=primary],[highway=primary_link]{
    line-width: 14;
  }

  [highway=secondary],[highway=secondary_link]{
    line-width: 13;

    text-position: 'path';
    text-size: 12;
    text-color: black;
  }
}

  [bridge=yes]{
    contour-color: black;
    contour-width: 2;
  }

  [tunnel=yes]{
    opacity: 0.9;
    contour-color: blue;
    contour-width: 1;
  }

  [highway=trunk],[highway=trunk_link]{
    color: #FFC20D;
    line-width: 16;
    contour-color: #FFE20D;
    contour-width: 2;
  }

  [highway=motorway],[highway=motorway_link]{
    color: #FF9B0D;
    line-width: 16;
    contour-color: #FFC90D;
    contour-width: 2.5;
  }
}

// RAILWAY //
.Line {

  [zoom>=8]{
    [railway=rail]{
      color: #aaa;
      line-width: 6;
    }
  }

  [zoom>=15]{
    [railway=tram]{
      color: #faa;
      line-width: 0.8;
    }
  }
}


// SURFACE //


.Polygon {

  [landuse=farmland]{
    fill-color: @farmland;
    opacity: 1;
  }
  [natural=wood]{
    fill-color: @wood;
  }
  [natural=scrub]{
    fill-color: @scrub;
  }

}
